---
---

$base-font-size: 14px;
$content-width: 900px;
$spacing-unit: 28px;

@import "{{ site.theme }}";
.site-title {color: transparent; font-size: 0;}
.site-header {border: none;}
.site-footer {display: none;}
table, table td, table th {border: 0px transparent;}
.site-nav {
  @include media-query($on-palm) {
    label[for="nav-trigger"] {display: none;}
    .menu-icon {display: none;}
    input:checked ~ .trigger {display: none;}
    .page-link {display: none;}
  }
}
